@model BookingTicket.ViewModels.MovieViewListingModel

@{
    ViewBag.Title = "Index";
}


<!-- Slider -->
<div class="bannercontainer">
    <div class="banner">
        <ul>
            <li data-transition="fade" data-slotamount="7" class="slide" data-slide='Rush.'>
                <img alt='' src="~/Content/video/ban1.jpg">
                <div class="caption slide__name margin-slider"
                     data-x="right"
                     data-y="80"
                     data-splitin="chars"
                     data-elementdelay="0.1"
                     data-speed="700"
                     data-start="1400"
                     data-easing="easeOutBack"
                     data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
                     data-frames="{ typ :lines;
                                                 elementdelay :0.1;
                                                 start:1650;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 },
                                                 { typ :lines;
                                                 elementdelay :0.1;
                                                 start:2150;
                                                 speed:500;
                                                 ease:Power3.easeOut;
                                                 animation:x:0;y:0;z:0;rotationX:00;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:1;transformPerspective:600;transformOrigin:50% 50%;
                                                 }
                                                 "
                     data-splitout="lines"
                     data-endelementdelay="0.1"
                     data-customout="x:-230;y:0;z:0;rotationX:0;rotationY:0;rotationZ:90;scaleX:0.2;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%"
                     data-endspeed="500"
                     data-end="8400"
                     data-endeasing="Back.easeIn">
                    RUSH
                </div>

                <div class="caption slide__time margin-slider sfr str"
                     data-x="right"
                     data-hoffset='-243'
                     data-y="186"
                     data-speed="300"
                     data-start="2100"
                     data-easing="easeOutBack"
                     data-endspeed="300"
                     data-end="8700"
                     data-endeasing="Back.easeIn">
                    Od 
                </div>
                <div class="caption slide__date margin-slider lfb ltb"
                     data-x="right"
                     data-hoffset='-149'
                     data-y="186"
                     data-speed="500"
                     data-start="2400"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-end="8200"
                     data-endeasing="Back.easeIn">
                     15 Marta
                </div>
                <div class="caption slide__time margin-slider sfr str"
                     data-x="right"
                     data-hoffset='-113'
                     data-y="186"
                     data-speed="300"
                     data-start="2100"
                     data-easing="easeOutBack"
                     data-endspeed="300"
                     data-end="8700"
                     data-endeasing="Back.easeIn">
                    - do
                </div>
                <div class="caption slide__date margin-slider lfb ltb"
                     data-x="right"
                     data-y="186"
                     data-speed="500"
                     data-start="2800"
                     data-easing="Power4.easeOut"
                     data-endspeed="400"
                     data-end="8200"
                     data-endeasing="Back.easeIn">
                    20 Aprila
                </div>
                <div class="caption slide__text margin-slider customin customout"
                     data-x="right"
                     data-y="250"
                     data-customin="x:0;y:100;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:1;scaleY:3;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:0% 0%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="400"
                     data-start="3000"
                     data-endspeed="400"
                     data-end="8000"
                     data-endeasing="Back.easeIn">
                    Dvostruki dobitnik Oskarove nagrade Ron Howard, ponovo se udružuje sa kolegom, dvostrukim nominovanim za oskara,<br /> piscem Peter-om Morganom na filmu Rush, spektakulranom ponovnom stvaranju nemilosrdnog rivalstva iz 1970-ih <br /> izmedju James-a Hunt-a i Niki Laude.
                </div>
            </li>
        </ul>
    </div>
</div>
<!--end slider -->
<!-- Main content -->
<section class="container">
    <div class="clearfix"></div>

    
        <h2 id='target' class="page-heading heading--outcontainer">Sada u bioskopu</h2>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-8 col-md-9">
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--left">
                        <div class="movie__images">
                            <a href="@Url.Action("Details","Movie", new { Id = Model.Movies[0].MovieId})" class="movie-beta__link">
                                <img alt='image' src="@Model.Movies[0].ImageUrl">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='@Url.Action("Details","Movie", new { Id = Model.Movies[0].MovieId})' class="movie__title">@Model.Movies[0].Title  </a>

                            <p class="movie__time">@Model.Movies[0].RunTime min</p>

                            <p class="movie__option"><a href="#">@Model.Movies[0].Genre</a> </p>

                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--left">
                        <div class="movie__images">
                            <a href="@Url.Action("Details","Movie", new { Id = Model.Movies[1].MovieId})" class="movie-beta__link">
                                <img alt='' src="@Model.Movies[1].ImageUrl">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='@Url.Action("Details","Movie", new { Id = Model.Movies[1].MovieId})' class="movie__title"> @Model.Movies[1].Title </a>

                            <p class="movie__time">@Model.Movies[1].RunTime min</p>

                            <p class="movie__option"><a href="#">@Model.Movies[1].Genre</a></p>


                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--right">
                        <div class="movie__images">
                            <a href="@Url.Action("Details","Movie", new { Id = Model.Movies[2].MovieId})" class="movie-beta__link">
                                <img alt='' src="@Model.Movies[2].ImageUrl">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='@Url.Action("Details","Movie", new { Id = Model.Movies[2].MovieId})' class="movie__title">@Model.Movies[2].Title   </a>

                            <p class="movie__time">@Model.Movies[2].RunTime min</p>

                            <p class="movie__option"><a href="#">@Model.Movies[2].Genre</a></p>


                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--right">
                        <div class="movie__images">
                            <a href="@Url.Action("Details","Movie", new { Id = Model.Movies[3].MovieId})" class="movie-beta__link">
                                <img alt='' src="@Model.Movies[3].ImageUrl">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='@Url.Action("Details","Movie", new { Id = Model.Movies[3].MovieId})' class="movie__title">@Model.Movies[3].Title </a>

                            <p class="movie__time">@Model.Movies[3].RunTime min</p>

                            <p class="movie__option"><a href="#">@Model.Movies[3].Genre</a></p>


                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--dark movie--test--left">
                        <div class="movie__images">
                            <a href="@Url.Action("Details","Movie", new { Id = Model.Movies[4].MovieId})" class="movie-beta__link">
                                <img alt='' src="@Model.Movies[4].ImageUrl">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='@Url.Action("Details","Movie", new { Id = Model.Movies[4].MovieId})' class="movie__title">@Model.Movies[4].Title  </a>

                            <p class="movie__time">@Model.Movies[4].RunTime min</p>

                            <p class="movie__option"><a href="#">@Model.Movies[4].Genre</a></p>


                        </div>
                    </div>
                    <!-- Movie variant with time -->
                    <!-- Movie variant with time -->
                    <div class="movie movie--test movie--test--light movie--test--left">
                        <div class="movie__images">
                            <a href="@Url.Action("Details","Movie", new { Id = Model.Movies[5].MovieId})" class="movie-beta__link">
                                <img alt='' src="@Model.Movies[5].ImageUrl">
                            </a>
                        </div>

                        <div class="movie__info">
                            <a href='@Url.Action("Details","Movie", new { Id = Model.Movies[5].MovieId})' class="movie__title">@Model.Movies[5].Title </a>

                            <p class="movie__time">@Model.Movies[5].RunTime min</p>

                            <p class="movie__option"><a href="#">@Model.Movies[5].Genre</a></p>
                        </div>
                    </div>
                    <!-- Movie variant with time -->
                </div>

            </div>
        </div>
   
</section>

<div class="clearfix"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_Home();
    });
</script>