@model BookingTicket.ViewModels.ReservationAdminViewModel
@{
    ViewBag.Title = "AdminIndex";
}

<link href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>


@if (Model.Reservations != null && Model.Reservations.Count > 0)
{
    <div class="container" style="margin-top: 100px;">
        <table id="myTable" class="table table-hover">
            <thead>
               <tr>
                   <th>ID Rezervacije</th>
                   <th>Film</th>
                   <th>Datum</th>
                   <th>Vreme</th>
                   <th>Grad</th>
                   <th>Bioskop</th>
                   <th>Email</th>
                   <th>Broj telefona</th>
                   <th>Broj karata</th>
               </tr>
            </thead>
            <tbody>
                @foreach(var reservation in Model.Reservations)
                {
                    <tr>
                        <td>@reservation.ReservationId</td>
                        <td>@reservation.MovieTitle</td>
                        <td>@reservation.Date</td>
                        <td>@reservation.Time</td>
                        <td>@reservation.City</td>
                        <td>@reservation.Cinema</td>
                        <td>@reservation.Email</td>
                        <td>@reservation.PhoneNummber</td>
                        <td>@reservation.NummberOfTicket</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}


<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
