@model BookingTicket.ViewModels.ReservationFinalViewModel

@if(Model.Reservation != null)
{
    <section class="container">
        <div class="order-container">
            <div class="order">
                <img class="order__images" alt='' src="~/Content/images/tickets.png">
                <p class="order__title">Hvala vam <br><span class="order__descript"> vaša karta je uspešno rezervisana</span></p>
            </div>
    
            <div class="ticket">
                <div class="ticket-position">
                    <div class="ticket__indecator indecator--pre"><div class="indecator-text pre--text">online karta</div> </div>
                    <div class="ticket__inner">
    
                        <div class="ticket-secondary">
                            <span class="ticket__item">ID karte  <strong class="ticket__number">@Model.Reservation.ReservationId</strong></span>
                            <span class="ticket__item ticket__date">@DateTime.Now.ToString("dd-MM-yyyy")</span>
                            <span class="ticket__item ticket__time">@DateTime.Now.ToString("h:mm:ss tt")</span>
                            <span class="ticket__item">Bioskop:<span class="ticket__cinema">@Model.Reservation.Cinema</span></span>
                            <span class="ticket__item">Sala: <span class="ticket__hall">Cineplek</span></span>
                            <span class="ticket__item ticket__price">Cena: <strong class="ticket__cost">@(int.Parse(Model.Reservation.NummberOfTicket) * 250) RSD</strong></span>
                        </div>
    
                        <div class="ticket-primery">
                            <span class="ticket__item ticket__item--primery ticket__film">Film<br><strong class="ticket__movie">@Model.Reservation.MovieTitle</strong></span>
                            <span class="ticket__item ticket__item--primery">Broj karata: <span class="ticket__place">@Model.Reservation.NummberOfTicket</span></span>
                        </div>
    
    
                    </div>
                    <div class="ticket__indecator indecator--post"><div class="indecator-text post--text">online karta</div></div>
                </div>
            </div>
    
        </div>
    </section>
    
    <div class="clearfix"></div>
    
    <script type="text/javascript">
                $(document).ready(function() {
                    $('.top-scroll').parent().find('.top-scroll').remove();
                });          
    </script>
}