@model BookingTicket.ViewModels.ReservationViewModel 
@{ 
    string[] city = { "Beograd", "Niš", "Novi Sad", "Kragujevac" };
}
<section class="container">
    <div class="order-container">
        <div class="order">
            <img class="order__images" alt='' src="~/Content/images/tickets.png">
            <p class="order__title">Izaberi   kartu <br><span class="order__descript">i zabavi se u filmu</span></p>
        </div>
    </div>

    <h2 class="page-heading heading--outcontainer">Izaberi film</h2>
</section>

<div class="choose-film">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            @foreach (var movie in Model.Movies)
            {
                <!--First Slide-->
                <div class="swiper-slide" data-id="@movie.MovieId" data-film='@movie.Title'>
                    <div class="film-images">
                        <img alt='' src="@movie.ImageUrl">
                    </div>
                    <p class="choose-film__title">@movie.Title</p>
                </div>
            }
        </div>
    </div>
</div>

<section class="container">
    <div class="col-sm-12">
        <div class="choose-indector choose-indector--film">
            <strong>Izabran: </strong><span class="choosen-area"></span>
        </div>

        <h2 class="page-heading">Grad &amp; Datum</h2>

        <div class="choose-container choose-container--short">
            <form id='select' class="select" method='get'>
                <select name="select_item" id="select-sort" class="select__sort" tabindex="0">
                    @foreach (var c in city)
                    {
                        <option value="@c" selected='selected'>@c</option>
                    }
                </select>
            </form>

            <div class="datepicker">
                <span class="datepicker__marker"><i class="fa fa-calendar"></i>Datum</span>
                <input type="text" id="datepicker" value='@DateTime.Now.ToString("dd-MM-yyyy")' class="datepicker__input">
            </div>
        </div>


        <div id="movie-time">

        </div>

        @{ Html.RenderAction("BookingStepReserve"); }

    </div>

</section>

<div class="clearfix"></div>

<form id='film-and-time' class="booking-form" method='get' action='book2.html'>
    <input type='text' name='choosen-movie' class="choosen-movie">
    <input type='text' name='choosen-city' class="choosen-city">
    <input type='text' name='choosen-date' class="choosen-date">
    <input type='text' name='choosen-cinema' class="choosen-cinema">
    <input type='text' name='choosen-time' class="choosen-time">
    <input type='hidden' name='choosen-movie-id' class="choosen-movie-id">

</form>

<div class="clearfix"></div>

<script type="text/javascript">
        $(document).ready(function () {
            init_BookingOne();
        });

        $("#booking-step-one").click(function () {
            $.ajax({
                url: '@Url.Action("BookingStepTwo", "Reservation")',
            })
                .done(function (response) {
                    $("#bookingStepActionContainer").html(response);
                    focusAction("bookingStepActionContainer")
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail")
                });
        });

       
</script>
