@model BookingTicket.ViewModels.MovieViewModel
@{
    ViewBag.Title = "Details";
}

<!-- Main content -->
<section class="container" style="margin-top: 40px;">
    <div class="col-sm-12">
        <div class="movie">
            <h2 class="page-heading">@Model.Movie.Title</h2>

            <div class="movie__info">
                <div class="col-sm-4  movie-mobile">
                    <div class="movie__images">
                       
                        <img alt='' src="@Model.Movie.ImageUrl">
                    </div>
                   
                </div>

                <div class="col-sm-8 ">
                    <p class="movie__time">@Model.Movie.RunTime min</p>
                    <p class="movie__option"><strong>Category: </strong><a href="#">@Model.Movie.Genre</a></p>
                    <p class="movie__option"><strong>Release date: </strong>@Model.Movie.ReleaseDate</p>
                    <p class="movie__option"><strong>Actors: </strong><a href="#">@Model.Movie.Starring</a><a href="#">...</a></p>
                    

          

                   
                </div>
            </div>

            <div class="clearfix"></div>

            <h2 class="page-heading">The plot</h2>

            <p class="movie__describe">@Model.Movie.Description</p>

            <h2 class="page-heading">photos &amp; videos</h2>

            <div class="movie__media">
                <div class="movie__media-switch">
                    <a href="#" class="watchlist list--photo" data-filter='media-photo'>234 photos</a>
                    <a href="#" class="watchlist list--video" data-filter='media-video'>10 videos</a>
                </div>

                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <!--First Slide-->
                        <div class="swiper-slide media-video">
                            <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="movie__media-item ">
                                <img alt='' src="http://placehold.it/400x240">
                            </a>
                        </div>

                        <!--Second Slide-->
                        <div class="swiper-slide media-video">
                            <a href='https://www.youtube.com/watch?v=Kb3ykVYvT4U' class="movie__media-item">
                                <img alt='' src="http://placehold.it/400x240">
                            </a>
                        </div>

                        <!--Third Slide-->
                        <div class="swiper-slide media-photo">
                            <a href='http://placehold.it/2100x1250' class="movie__media-item">
                                <img alt='' src="http://placehold.it/400x240">
                            </a>
                        </div>

                        <!--Four Slide-->
                        <div class="swiper-slide media-photo">
                            <a href='http://placehold.it/2100x1250' class="movie__media-item">
                                <img alt='' src="http://placehold.it/400x240">
                            </a>
                        </div>

                        <!--Slide-->
                        <div class="swiper-slide media-photo">
                            <a href='http://placehold.it/2100x1250' class="movie__media-item">
                                <img alt='' src="http://placehold.it/400x240">
                            </a>
                        </div>

                        <!--Slide-->
                        <div class="swiper-slide media-photo">
                            <a href='http://placehold.it/2100x1250' class="movie__media-item">
                                <img alt='' src="http://placehold.it/400x240">
                            </a>
                        </div>

                        <!--First Slide-->
                        <div class="swiper-slide media-video">
                            <a href='https://www.youtube.com/watch?v=Y5AehBA3IsE' class="movie__media-item ">
                                <img alt='' src="http://placehold.it/400x240">
                            </a>
                        </div>

                        <!--Second Slide-->
                        <div class="swiper-slide media-video">
                            <a href='https://www.youtube.com/watch?v=Kb3ykVYvT4U' class="movie__media-item">
                                <img alt='' src="http://placehold.it/400x240">
                            </a>
                        </div>

                        <!--Slide-->
                        <div class="swiper-slide media-photo">
                            <a href='http://placehold.it/2100x1250' class="movie__media-item">
                                <img alt='' src="http://placehold.it/400x240">
                            </a>
                        </div>

                        <!--Slide-->
                        <div class="swiper-slide media-photo">
                            <a href='http://placehold.it/2100x1250' class="movie__media-item">
                                <img alt='' src="http://placehold.it/400x240">
                            </a>
                        </div>

                    </div>
                </div>

            </div>

        <h2 class="page-heading">showtime &amp; tickets</h2>
        <div class="choose-container">
           

            <div class="clearfix"></div>

            <div class="time-select">
                <div class="time-select__group group--first">
                    <div class="col-sm-4">
                        <p class="time-select__place">Cineworld</p>
                    </div>
                    <ul class="col-sm-8 items-wrap">
                        @foreach (var time in Model.Projection)
                        {
                            <li class="time-select__item" data-time='@time.Time'>@time.Time</li>
                        }
                    </ul>
                </div>
            </div>


        </div>
    </div>

</section>

<div class="clearfix"></div>

<script type="text/javascript">
    $(document).ready(function () {
        init_MoviePage();
        init_MoviePageFull();
    });
</script>