@model BookingTicket.ViewModels.ProjectionViewListingModel

@{
    ViewBag.Title = "Index";
    string[] times = { "11:00", "13:00", "16:30", "20:00", "23:30" };
}

<div class="container" id="projectionMainContainer" style="margin-top: 100px;">
    <h2 class="page-heading">Projekcije</h2>

    <div style="padding:10px; margin-bottom:30px;">
        <div style="float:right;">
            <a id="addNewProjectionBtn" class="btn btn-md btn--warning btn--book btn-control--home">Dodaj projekciju</a>
        </div>
    </div>
    @if (Model.Projections != null)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID Filma</th>
                    <th>ID Sale</th>
                    <th>Vreme prikazivanja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Projections)
                {
                    <tr>
                        <td><a href="@Url.Action("Details","Movie",new { Id = item.MovieId })">@item.MovieId</a></td>
                        <td>@item.HallId</td>
                        <td>@item.Time</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div class="container">
    <div id="projectionActionContainer">

    </div>
</div>
<script>

    $("#addNewProjectionBtn").click(function () {
        $.ajax({
                url: '@Url.Action("AddProjection", "Projection")',
                })
            .done(function (response) {
                console.log(response);
                    $("#projectionActionContainer").html(response);
                   focusAction("projectionActionContainer");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail")
                });
    });
    function focusAction(controlToFocus) {
        $("html, body").animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>
