@model BookingTicket.ViewModels.ProjectionViewListingModel

@{
    ViewBag.Title = "Index";
    string[] times = { "11:00", "13:00", "16:30", "20:00", "23:30" };
}

<div class="container" id="projectionMainContainer" style="margin-top: 100px;">
    <h2 class="page-heading">Projekcije</h2>

    <div style="padding:10px; margin-bottom:30px;">
        <div style="float:right;">
            <a id="addNewProjectionBtn" class="btn btn-md btn--warning btn--book btn-control--home">Dodaj projekciju</a>
        </div>
    </div>
    @if (Model.Projections != null)
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID Filma</th>
                    <th>ID Sale</th>
                    <th>Vreme prikazivanja</th>
                    <th>Akcija</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Projections)
                {
                    <tr>
                        <td><a href="@Url.Action("Details","Movie",new { Id = item.MovieId })">@item.MovieId</a></td>
                        <td>@item.HallId</td>
                        <td>@item.Time</td>
                        <td>
                            <div class="movie__btns">
                                <a data-id="@item.ProjectionId" class="deleteProjectionBtn"><i class="fa fa-trash-o"></i></a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
<div class="container">
    <div id="projectionActionContainer">

    </div>
</div>
<script>

    function focusAction(controlToFocus) {
        $("html, body").animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }

    $("#addNewProjectionBtn").click(function () {
        $.ajax({
                url: '@Url.Action("AddProjection", "Projection")',
                })
            .done(function (response) {
                console.log(response);
                    $("#projectionActionContainer").html(response);
                   focusAction("projectionActionContainer");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail")
                });
    });

    $(".deleteProjectionBtn").click(function () {
    swal({
        text: "Da li ste sigurni da želite da izbrišete ovu projekciju?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: 'POST',
                    url:'@Url.Action("DeleteProjection","Projection")',
                    data: {
                        Id: $(this).attr('data-id'),
                    }
                })
                    .done(function (response) {
                        swal("Projekcija je uspešno izbrisana!", {
                            icon: "success",
                        }).then((value) => {
                          window.location = '@Url.Action("Index","Projection")';
                      });
                    })
                    .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Fail")
                    });
            }
        });
});

</script>
