@model BookingTicket.ViewModels.HallViewListingModel

@{
    ViewBag.Title = "Index";
}

<div class="container" id="hallMainContainer" style="margin-top: 100px;">
    <h2 class="page-heading">Bioskopske sale</h2>
    <div style="padding:10px; margin-bottom:30px;">
        <div style="float:right;">
            <a id="addNewHallBtn" class="btn btn-md btn--warning btn--book btn-control--home">Dodaj salu</a>
        </div>
    </div>
    <table class="table table-hover text-center">
        <thead>
            <tr>
                <th>Naziv sale</th>
                <th>Broj sedišta</th>
                <th>Tip sale</th>
                <th>Akcija</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hall in Model.Halls)
            {
                <tr>
                    <td>@hall.Name</td>
                    <td>@hall.NumberOfSeats</td>
                    <td>@hall.Type</td>
                    <td>
                        <div class="movie__btns">
                            <a data-id="@hall.HallId" class="hallBtnEdit"><i class="fa fa-pencil"></i></a>
                            <a data-id="@hall.HallId" class="hallBtnDelete"><i class="fa fa-trash-o"></i></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="hallActionContainer" class="container">

</div>

<script>
    function focusAction(controlToFocus) {
        $("html, body").animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }

    $("#addNewHallBtn").click(function () {
       $.ajax({
                url: '@Url.Action("AddHall", "Hall")',
            })
                .done(function (response) {
                    $("#hallActionContainer").html(response);
                    focusAction("hallActionContainer");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail")
                });
    });

    $(".hallBtnEdit").click(function () {
       $.ajax({
           url: '@Url.Action("EditHall", "Hall")',
           data: {
               Id: $(this).attr("data-id")
           }
            })
                .done(function (response) {
                    $("#hallActionContainer").html(response);
                    focusAction("hallActionContainer");
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail")
                });
    });

    $(".hallBtnDelete").click(function () {
    swal({
        text: "Da li ste sigurni da želite da izbrišete ovu salu?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
    })
        .then((willDelete) => {
            if (willDelete) {
                $.ajax({
                    type: 'POST',
                    url:'@Url.Action("DeleteHall","Hall")',
                    data: {
                        Id: $(this).attr('data-id'),
                    }
                })
                    .done(function (response) {
                        swal("Sala je uspešno izbrisana!", {
                            icon: "success",
                        }).then((value) => {
                          window.location = '@Url.Action("Index","Hall")';
                      });
                    })
                    .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                        alert("Fail")
                    });
            }
        });
});
</script>

